<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Hired_Functionlity">
    <classes>
      <class name="testcases.A1_Hired_option1_SA"/>
      <class name="testcases.A1_Hired_option2"/> 
       <class name="testcases.A1_Hired_option3"/>
    </classes>
  </test> 
  <test name="JobDone_Functionlity">
    <classes>
    <class name="testcases.A2_Jobdone_option1"/>
      <class name="testcases.A2_Jobdone_option2"/>
      <class name="testcases.A2_Jobdone_option3"/>
      <class name="testcases.A2_Jobdone_option4"/>    
     </classes>
  </test> 
  <test name="UpdateStatus_Functionlity">
    <classes>
    	<class name="testcases.A3_UpdateStatus_option1"/>
      <class name="testcases.A3_UpdateStatus_option2"/>
      <class name="testcases.A3_UpdateStatus_option3rdn4th"/>
      <class name="testcases.A3_UpdateStatus_option5"/>
      <class name="testcases.A3_UpdateStatus_option6thn7th"/> 
    </classes>
  </test> 
</suite> <!-- Suite -->
